<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>handle</title>
</head>
<body>
<h1>Communications Engineering UE - Aufgabe 4</h1>
<h2>Create Handlebar Configuration</h2>
<h3>Get Handle</h3>
<p>Available types of Handles:</p>
<p th:text="${handles}"></p>
<form method="post">
    Handle: <input type="text" name="handle" required="true"><br>
    <input type="submit" value="Submit">
</form>
</br>
<p><a href="/order">Check Out</a></p>

</body>
</html>