<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>handlebar</title>
</head>
<body>
<h1>Communications Engineering UE - Aufgabe 4</h1>
<h2>Create Handlebar Configuration</h2>
<h3>Get Handlebar Types</h3>
<p>Available handlebar types:</p>
<p th:text="${handlebars}"></p>
<form method="post">
    Handlebar: <input type="text" name="handlebar" required="true"><br>
    <input type="submit" value="Submit">
</form>
<br/>
<p><a href="/material">Continue with material</a></p>
</body>
</html>